<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  
  <system.serviceModel>
    <services>
      <service name="mjpegServer" > 
        <endpoint                 
          address ="http://10.0.1.5:60000/video"
          binding ="webHttpBinding"                 
          bindingConfiguration="StreamedHttp"
          contract="mjpeg_server.mjpeg_streamer"/>        
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name ="StreamedHttp" transferMode ="Streamed" />
      </webHttpBinding>
    </bindings>    
  </system.serviceModel>

  
</configuration>